<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>Synfoco Testing</h1>

        <form action="/" method="POST">
            <div class="form-group">
                <label for="firstname" class="form-label">Enter Firstname:</label>
                <input type="text" id="firstname" name="firstname" class="form-control">
            </div>
            <div class="form-group">
                <label for="lastname" class="form-label">Enter Lastname:</label>
                <input type="text" id="lastname" name="lastname" class="form-control">
            </div>

            
            <input class="btn btn-primary" type="submit">
        </form>

    </div>
</main>

</body>
</html>